@import '../shared/colors.scss';
@import '../shared/fonts.scss';

.helpPage {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: $bcg-gray-light;
  line-height: 1.5;

  p {
    color: $white;
    padding: 10px 20px;
    font-size: 14px;
  }
}
