@import '../../scss/shared/colors.scss';

.mainPageSlider {

  .alice-carousel__dots-item {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background: $gray-input;
    opacity: 0.8;

    &:hover {
      background: $gradient;
    }
  }

  .alice-carousel__dots-item.__active {
    background: $gradient;
  }
}
