@import '../../scss/shared/colors.scss';

.mainPageWrapper {
  position: relative;
  display: flex;
  width: 90%;
  flex-direction: column;
  background-color: $bcg-gray-light;
  margin-bottom: 20px;
  padding-bottom: 20px;

  .slider {
    width: 100%;
  }

  .slideContainer {
    padding: 25px 25px 0 25px;
    min-height: 300px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 40px;
    }

    p {
      color: $text-gray-light;
      font-size: 32px;
    }
  }
}
