@import '../../scss/shared/colors.scss';
@import '../../scss/shared/fonts.scss';
@import '../../scss/mixins/button.scss';
@import '../../scss/mixins/input.scss';

.main_page_wrapper {
  position: relative;
  display: flex;
  width: 90%;
  flex-direction: column;
  background-color: $bcg-gray-light;
  margin-bottom: 20px;

  .main_block {
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-align: center;

    .left_block {
      width: 100%;
      margin: 0;

      .text_header {

        h1 {
          font-size: 70px;
          color: $white;
          margin: 0;
          padding: 0;

          b {
            color: $red;
          }
        }

        p {
          margin: 0;
          padding: 0;
          color: $text-gray-light;
          font-size: 20px;
        }
      }

      .pagination_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .tabs {

          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            li {
              height: 120px;
              width: 120px;
              color: $white;
              background: $bcg-gray-dark;
              border-radius: 50%;
              align-items: center;
              justify-content: center;
              display: flex;
              font-size: 60px;
              margin: 25px 15px 25px;
              transition: 0.3s;
              cursor: pointer;

              &.active {
                font-size: 70px;
                transition: 0.3s;
                height: 124px;
                width: 124px;
                margin: 23px 13px 23px;
                background: $gradient;
              }
            }
          }
        }

        .tab_context {
          color: $text-gray-light;
          max-width: 500px;
          text-align: justify;
        }
      }

      .buttons_block {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
          @include primary-button;
          width: 220px;
          height: 70px;
          margin: 25px 0;
          font-size: 30px;
          padding: 0px;
        }
      }
    }

    .right_block {
      display: none;
      width: 60%;
      position: relative;

      .pc_block {
        background-image: url(../../assets/Laptop.png);
        width: 750px;
        height: 450px;
        position: absolute;
        border: 0%;
        background-size: 100% 100%;
        overflow: hidden;
        right: 15px;
        top: 150px;

        display: none;

        img {
          width: 100%;
        }

        .pc_context {
          overflow-y: scroll;
          box-sizing: content-box;
          margin: 33px 0px 0px 95px;
          background-size: 100%;
          width: 560px;
          height: 360px;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .phone_block {

        & > img {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          height: 100%;
        }
        background-color: $bcg-gray-light;
        border-radius: 30px;
        background-image: url(../../assets/iPhone.png);
        bottom: 100px;
        width: 160px;
        height: 350px;
        position: absolute;
        border: 0%;
        margin-left: 0px;
        background-size: 100% 100%;
        padding: 26px 25px 20px 25px;
        color: #fff;
        overflow: hidden;

        .phone_context {
          border: 50px;
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          padding-right: 17px;
          box-sizing: content-box;

          input {
            width: 100%;
            @include primary-input;
            font-size: 12px;
          }

          img {
            width: 100%;
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  .arrow_down {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-gray-light;
    font-size: 30px;
    animation: arrow 2s infinite;
    cursor: pointer;
  }
  @keyframes arrow {

    0% {
      margin: 25px 0;
    }

    50% {
      margin: 35px 0 15px 0;
    }

    100% {
      margin: 25px 0;
    }
  }

  @media screen and (min-width: 900px) {

    .main_block {

      .right_block {
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .phone_block {
          top: 50px;
        }
      }
    }
  }
  @media screen and (min-width: 1500px) {

    .main_block {

      .left_block {
        width: 40%;
      }
      .right_block {
        display: block;

        .pc_block {
          display: block;
          top: 50px;
        }
      }
    }
  }
}
