@import '../../scss/shared/colors.scss';
@import '../../scss/shared/fonts.scss';

.inputRateRatio:checked ~ .inputRateLabel {
  color: $text-gray-light;
}

.rateGroup {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  .rateVotes {
    margin-left: 5px;
    color: $text-gray-light
  }

  .inputRateRatio {
    position: absolute;
    left: -9990px;
  }

  .inputRateLabel {
    color: $orange;
    padding-left: 5px;
  }
}

.rateGroupVoteAble {
  &:hover .inputRateLabel {
    color: $orange;
  }

  .inputRateLabel:hover ~ .inputRateLabel {
    color: $text-gray-light;
  }
}