@import '../../../../scss/shared/fonts.scss';
@import '../../../../scss/shared/colors.scss';
@import '../../../../scss/mixins/button.scss';
@import '../../../../scss/mixins/input.scss';

.profile {

  input {
    @include primary-input;
    background-color: transparent;
    color: $white;

    &::placeholder {
      color: $gray-input;
    }
  }

  .user_fio {
    display: flex;

    input {
      @include primary-input;
      width: 50%;
      padding: 15px 5px;
      margin: 0 5px;
    }
  }

  .description {
    margin: 5px;

    input {
      @include primary-input;
      width: 100%;
      padding: 15px 5px;
    }
  }

  .social {
    margin: 5px;
  
    div {
      margin: 15px 0;
      display: flex;
      span {
        padding: 0;
        font-size: 12px;
      }

      input {
        @include primary-input;
        padding: 15px 5px;
        width: 100px;
      }
    }

    svg {
      font-size: 20px;
      margin: 0 5px;
    }

    .facebook_icon {
      color: #3b5998;
    }

    .twitter_icon {
      color: #1da1f2;
    }

    .linkedin_icon {
      color: #0073b0;
    }
  }

  button {
    @include primary-button;
    width: 60px;
    height: 35px;
    float: left;

    color: $white;
    background: $gradient;
    text-align: center;
    font-size: 12px;
    border: none;

    padding: 0;
    margin: 0 15px 0 0;
  }
}
