@import '../../../../scss/shared/colors.scss';
@import '../../../../scss/mixins/input.scss';
@import '../../../../scss/mixins/button.scss';
@import '../../../../scss/shared/breakpoints.scss';

.header {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bcg-gray-light;
  color: $white;
  @media (max-width: $width-lg) {
    justify-content: space-around;
  }

  .burger {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: linear-gradient(
      to bottom,
      white 15%,
      transparent 16%,
      transparent 43.5%,
      white 44.5%,
      white 58.5%,
      transparent 59.5%,
      transparent 86%,
      white 87%
    );
  }

  .logo {
    width: 80px;
    flex: 0.3 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $width-md) {
      justify-content: flex-start;
    }

    img {
      cursor: pointer;
    }
  }

  .search {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    cursor: pointer;

    input {
      @include primary-input;
      padding: 0;
      width: 100%;

      &::placeholder {
        color: $gray-input;
      }
    }

    .icon {
      position: absolute;
      font-size: 25px;
      right: 0;
      cursor: pointer;
      transition: 0.3s;
    }

    .icon:hover {
      color: $orange;
    }
  }

  .menu {
    flex: 2 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

    .link {
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s;
      text-decoration: none;
      color: $white;
    }

    .link:hover {
      color: $orange;
      text-decoration: underline;
    }

    .button {
      @include primary-button;
      flex-basis: 20%;
      padding: 10px 0px;
      @media (max-width: $width-lg) {
        flex-basis: 23%;
      }
    }
  }
}
