@import '../shared/colors.scss';

@mixin primary-button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 13px 20px;
  background: $gradient;
  font-size: 16px;
  color: $white;
  outline: none;
  font-weight: 600;
  line-height: 1.5;
  transition: all 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    background: linear-gradient(135deg, $orange 20%, $pink 100%);
  }
}
