@import '../shared/colors.scss';

@mixin primary-input {
  border: 0;
  border-bottom: 1px solid $gray-input;
  border-radius: 0;
  outline: none;
  padding: 6px 0;
  color: $white;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  transition: border-bottom 0.3s;
  line-height: 1.5;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &:hover,
  &:focus {
    border-bottom: 1px solid $orange;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $white;
  }
}
