@import '../../scss/shared/colors.scss';
@import '../../scss/shared/breakpoints.scss';

.cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;

  @media screen and (max-width: $width-sm) {
    width: 100%;
  }

  .card_link {
    display: block;
    width: 340px;
    text-decoration: none;
    color: $white;
    text-align: center;
    margin: 10px auto;

    @media screen and (max-width: $width-sm) {
      width: 90%;
    }
  
    .card_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $bcg-gray-light;
      padding: 20px;
      height: 200px;

      svg {
        font-size: 56px;
        margin: 10px 0;
      }
  
      h2 {
        margin: 10px 0;
      }
  
      p {
        font-size: 14px;
      }
    }
  }
}

