@import '../../scss/shared/colors.scss';


.profile_button {
  background: transparent;
  cursor: pointer;
}
.profile_button_active {
  background: $gradient;
}
.profile_button:hover{
  background: $gradient;
  transition: 0.3s;
}
