@import '../../scss/shared/breakpoints.scss';
@import '../../scss/shared/fonts.scss';
@import '../../scss/shared/colors.scss';
@import '../../scss/mixins/button.scss';
@import '../../scss/mixins/input.scss';

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 75%;

  .publicWrapper {
    background-color: $bcg-gray-light;
    min-height: 80vh;
    width: 100%;
  }

  .navWrapper {
    align-self: flex-start;
    margin: 0 20px;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      button {
        background: transparent;
        outline: none;
        cursor: pointer;
        width: 100px;
        height: 40px;
        background-color: $bcg-gray-light;
        border: none;
        color: $white;
        border-top-right-radius: 20px;

        &.active {
          background: $gradient;
        }

        &:hover {
          background: $gradient;
          transition: 0.3s;
        }
      }

      .activeButton {
        background: $gradient;
      }
    }
  }
}
