@import '../../../scss/shared/breakpoints.scss';
@import '../../../scss/shared/fonts.scss';
@import '../../../scss/shared/colors.scss';
@import '../../../scss/mixins/button.scss';
@import '../../../scss/mixins/input.scss';

.profile {
  margin: 40px 15px 0 15px;

  input,
  textarea {
    @include primary-input;
    background-color: transparent;
    color: $white;

    &::placeholder {
      color: $gray-input;
    }
  }

  .invalidFeedback {
    display: block;
    word-wrap: break-word;
    margin-top: 10px;
    width: 100%;
    color: $pink;
  }

  .userFio {
    display: flex;
    width: 100%;

    div {
      width: 50%;

      &:first-child {
        margin-right: 15px;
      }

      input {
        width: 100%;
        padding: 6px 0;
        margin: 0;
      }
    }
  }

  .description {
    margin-top: 15px;
    width: 100%;

    textarea {
      width: 100%;
      padding: 6px 0;
      margin: 0;
      resize: none;
    }
  }

  .social {
    margin-top: 15px;
    width: 100%;

    div {

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          font-size: 20px;
          margin: 0 5px;
          width: 10%;
        }

        .facebookIcon {
          color: #3b5998;
        }

        .twitterIcon {
          color: #1da1f2;
        }

        .linkedinIcon {
          color: #0073b0;
        }
      }
    }
  }

  .buttonsBlock {
    width: 100%;

    button {
      @include primary-button;
      width: 100px;
      height: 50px;
      margin: 25px 15px 15px 0;
      float: left;
    }
  }

  @media screen and (min-width: $width-xs) {

    .social {

      div {

        input {
          width: 100%;
          margin: 10px 0;
        }
      }
    }
  }
  @media screen and (min-width: $width-xl) {
    width: 540px;
  }
}
