@import '../../../scss/combineStyles.scss';

.wrapperForm {
  font-family: $primary-font;
  color: $white;
  width: 90%;
  display: flex;
  height: calc(100vh - 120px - 198px);
  justify-content: center;

  @media (max-width: $width-xl) {
    height: calc(100vh - 120px - 367px);
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    padding: 15px;
    align-items: center;
    box-sizing: border-box;
  }

  .row {
    margin: 15px 0 0 0;
  }

  .rowTop {
    margin: 25px 0 0 0;
  }

  .bigSizeMessage {
    font-size: 2em;
  }

  .successMessage {
    color: $green;
  }

  .errorMessage {
    color: $pink;
  }

  .btn {
    @include primary-button;
    width: 20%;
    align-self: flex-end;
    margin-top: 25px;
  }

  .input {
    @include primary-input;
    width: 100%;
  }
}
