@import '../../../scss/combineStyles.scss';

.wrapper_form {
  font-family: $primary-font;
  color: $white;
  width: 100%;
  display: flex;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 640px;
    padding: 15px;
    box-sizing: border-box;
  }

  .row {
    display: flex;
    margin: 15px 0 0 0;
  }

  .row_top {
    margin: 25px 0 0 0;
  }

  .row_flex_end {
    justify-content: flex-end;
  }

  .big_size_message {
    font-size: 2em;
  }

  .success_message {
    color: $green;
  }

  .error_message {
    color: $pink;
  }

  .btn {
    @include primary-button;
    width: 20%;
  }

  .input {
    @include primary-input;
    width: 100%;
  }
}
