@import '../../../scss/shared/breakpoints.scss';
@import '../../../scss/shared/fonts.scss';
@import '../../../scss/shared/colors.scss';
@import '../../../scss/mixins/button.scss';
@import '../../../scss/mixins/input.scss';

.profile {
  margin: 0 15px;
  margin-top: 40px;

  input {
    @include primary-input;
    background-color: transparent;
    color: $white;

    &::placeholder {
      color: $gray-input;
    }
  }

  .user_fio {
    display: flex;

    div {
      width: 50%;

      &:first-child {
        margin-right: 15px;
      }

      span {
        display: block;
        word-wrap: break-word;
        width: 90%;
      }

      input {
        @include primary-input;
        width: 95%;
        padding: 6px 5px;
        margin: 15px 0;
      }
    }
  }

  .description {
    margin-top: 15px;

    input {
      @include primary-input;
      width: 100%;
      padding: 6px 5px;
      margin: 15px 0;
    }
    margin-right: 12px;
  }

  .social {
    margin-top: 15px;

    div {

      input {
        @include primary-input;
        width: 90% !important;
      }

      span {
        display: block;
        width: 100%;
        background: $bcg-gray-light;
        color: $white;
      }
    }

    svg {
      font-size: 20px;
      margin: 0 5px;
    }

    .facebook_icon {
      color: #3b5998;
    }

    .twitter_icon {
      color: #1da1f2;
    }

    .linkedin_icon {
      color: #0073b0;
    }
  }

  button {
    @include primary-button;
    background: $gradient;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 25px 15px 15px 0;
    color: $white;
    border: none;
    float: left;
  }

  .invalid_feedback {
    color: $pink !important;
    width: 75%;
  }

  @media screen and (min-width: $width-xs) {

    .social {

      div {

        span {
          width: 95%;
        }

        input {
          width: 95%;
        }
      }
    }
  }
  @media screen and (min-width: $width-xl) {

    .social {

      div {

        span {
          margin-left: 30px;
        }

        input {
          padding: 6px 5px;
          margin: 15px 0;
          width: 238px;
        }
      }
    }
  }
}
