@import '../../scss/shared/colors.scss';
@import '../../scss/shared/fonts.scss';

.mainPageWrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
  min-height: 100vh;
  background-color: $bcg-gray-light;

  .searchValueWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
  }

  .coursesWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
