@import '../../scss/mixins/input.scss';
@import '../../scss/shared/colors.scss';
@import '../../scss/mixins/button.scss';
@import '../../scss/shared/fonts.scss';
@import '../../scss/shared/breakpoints.scss';

.carouselContainer {
  height: 400px;
  background-color: $bcg-gray-light;
  margin: 15px 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .carouselArrows {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
  }

  .navButton {
    width: 5%;
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 100%;

    @media screen and (max-width: $width-md) {
      display: none;
    }

    .disabled {
      opacity: 0.3;
    }
  }

  .carousel {
    width: 85%;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }
  }

  .courseCardContainer {
    height: 320px;
    width: 300px;
    position: relative;
    left: 50%;
    margin-left: -135px;

    @media screen and (max-width: 350px) {
      left: 50%;
      margin-left: -135px;
    }
  }
}
