@import '../../scss/mixins/input.scss';
@import '../../scss/shared/colors.scss';
@import '../../scss/mixins/button.scss';
@import '../../scss/shared/fonts.scss';
@import '../../scss/shared/breakpoints.scss';

.carouselContainer {
  height: 375px;
  background-color: $bcg-gray-light;
  margin: 15px 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .carouselArrows {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
  }

  .navButton {
    width: 5%;
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 100%;

    @media screen and (max-width: $width-md) {
      display: none;
    }

    .disabled {
      opacity: 0.3;
    }
  }

  .carousel {
    width: 85%;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }
  }

  .courseCardContainer {
    height: 285px;
    width: 270px;
    background-color: $bcg-gray-dark;
    position: relative;
    left: 50%;
    margin-left: -135px;

    @media screen and (max-width: 350px) {
      left: 50%;
      margin-left: -135px;
    }

    .addingButton {
      position: absolute;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      padding: 0;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 10px;
    }

    .image {
      margin: 0;
      width: 100%;
      height: 130px;
      background: url('https://www.scnsoft.com/blog-pictures/cover-pics/react_js.png')
        center / cover;
      border-radius: 5px;
    }

    .name {
      color: $white;
      margin: 10px auto;
      width: 220px;
    }

    .duration {
      color: $light-gray;
      margin: 10px auto;
      width: 220px;
    }

    button {
      @include primary-button;
      margin: auto;
      width: 220px;
      height: 70px;
    }
  }
}
