@import '../../scss/mixins/input.scss';
@import '../../scss/shared/colors.scss';
@import '../../scss/mixins/button.scss';
@import '../../scss/shared/fonts.scss';
@import '../../scss/shared/breakpoints.scss';

.modal {
  font-family: $primary-font;
  background-color: $bcg-gray-dark;
  width: 500px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);

  &:focus {
    outline: 0;
  }

  .closeModal {
    color: $white;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
  }

  @media screen and (max-width: $width-sm) {
    width: 90%;
  }
}
