@import '../../scss/mixins/input.scss';
@import '../../scss/shared/colors.scss';
@import '../../scss/mixins/button.scss';
@import '../../scss/shared/fonts.scss';
@import '../../scss/shared/breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 198px - 120px);
  width: 100%;

  h3 {
    color: $orange;
    font-size: 36px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 550px;

    @media screen and (max-width: $width-sm) {
      width: 80%;
    }

    input {
      @include primary-input;
      width: 100%;
      margin-bottom: 15px;
    }

    .submit {
      @include primary-button;
      width: 25%;
      align-self: flex-end;
    }

    .invalid_feedback {
      color: $pink;
      width: 75%;
    }
  }
}
