@import '../../../scss/shared/colors.scss';
@import '../../../scss/mixins/button.scss';
@import '../../../scss/mixins/input.scss';
@import '../../../scss/shared/breakpoints.scss';

.account {
  margin-top: 50px;

  .password {
    width: 100%;

    input {
      @include primary-input;
      width: 100%;
      margin: 15px 0;
    }

    .invalidFeedback {
      color: $pink;
      margin-top: 5px;
      width: 100%;
    }
  }

  .buttonsBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    div {
      display: flex;
      flex-wrap: wrap;
    }

    button {
      @include primary-button;
      background: $gradient;
      height: 50px;
      text-align: center;
      margin: 25px 15px 15px 0;
      color: $white;
      border: none;
    }
  }

  .paymentBtn {
    @include primary-button;
    height: 50px;
    text-align: center;
    margin: 45px 15px 15px 5%;
    color: $white;
    border: none;
  }

  @media screen and (min-width: $width-xl) {
    width: 550px;
  }
}
