@import '../../scss/shared/colors.scss';
@import '../../scss/shared/breakpoints.scss';

.footer {
  margin: 15px 0;
  width: 90%;
  background-color: $bcg-gray-light;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  @media (max-width: $width-md) {
    flex-direction: column;
  }

  .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    margin: 0 20px;

    span {
      margin-right: 10px;
      font-size: 22px;
      transform: rotate(-20deg);
      text-decoration: underline;
    }
  }

  .termsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $white;
      margin: 0 20px;
    }
  }
}
