@import '../../../scss/combineStyles.scss';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 210px;
}

.successMessage {
  color: $green;
}

.bigMessage {
  font-size: 2em
}

.errorMessage {
  height: 30px;
  color: $pink;
}


input {

  &:invalid {
    border-color: red;
  }

  &:valid {
    border-color: green;
  }
}

.input {
  @include primary-input;
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  @include primary-button;
  width: 20%;
  margin: 15px;
}
