@import '../../../scss/shared/colors.scss';
@import '../../../scss/mixins/button.scss';
@import '../../../scss/mixins/input.scss';
@import '../../../scss/shared/breakpoints.scss';

.accountWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 30px;
  padding: 0;

  @media screen and (max-width: $width-xs) {
    justify-content: center;
  }

  form {
    width: 50%;

    @media screen and (max-width: $width-lg) {
      width: 80%;
    }

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }

    .password {
      width: 100%;

      input {
        @include primary-input;
        width: 100%;
        margin: 15px 0;
      }

      .invalidFeedback {
        color: $pink;
        margin-top: 5px;
        width: 100%;
      }
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      @include primary-button;
      background: $gradient;
      width: 100px;
      height: 50px;
      text-align: center;
      margin: 15px 0;
      color: $white;
      border: none;
    }
  }
}
