$white: #fff;
$bcg-gray-light: #262626;
$bcg-gray-dark: #212121;
$gray-input: #515151;
$light-gray:#737373;
$orange: #ff8c05;
$pink: #d61a5e;
$gradient: linear-gradient(135deg, #ff8c05 0%, #d61a5e 100%);
$black: #000;
$red: #ed1d24;
$text-gray-light: #a0a0a0;
