@import '../../scss/mixins/input.scss';
@import '../../scss/shared/colors.scss';
@import '../../scss/mixins/button.scss';
@import '../../scss/shared/fonts.scss';
@import '../../scss/shared/breakpoints.scss';

.modal {
  font-family: $primary-font;
  background-color: $bcg-gray-dark;
  width: 380px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: $width-sm) {
    width: 100%;
  }

  h2 {
    color: $orange;
    font-size: 28px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      @include primary-input;
      width: 75%;
      margin: 15px;
    }

    button {
      margin: 0 40px 40px 40px;
    }

    .invalidFeedback {
      color: $pink;
      width: 75%;
    }
  }

  .submit {
    @include primary-button;
    width: 75%;
    margin-bottom: 5px;
  }

  .closeModal {
    color: white;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .linkForgot {
    font-size: .7em;
    color: $white;
    opacity: 0.6;
    cursor: pointer;
    margin: 0 0 25px 0;
    transition-property: all;
    transition-duration: .1s;

    &:hover {
      color: $orange;
      opacity: 1;
    }
  }


}

.modal:focus {
  outline: 0;
}

.modal button:focus {
  outline: 1px solid $orange;
}

.googleButton {
  width: 75%;
  margin: 5px !important;
}
