@import '../../scss/shared/colors.scss';
@import '../../scss/shared/fonts.scss';

.courseCardWrapper {
  text-decoration: unset;
}

.courseCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bcg-gray-light;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  color: $white;
  font-family: $primary-font;
  font-size: 0.6em;
  max-width: 260px;
  max-height: 400px; 
  border: 1px solid $gray-input;
  margin: 30px;

  &:hover {
    box-shadow: 0px 0px 10px 5px $gray-input;
    cursor: pointer;
  }

  .courseCardPreview {
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
    max-width: 260px;
    width: 100%;
  }

  .courseCardDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .courseCardTitle {
      text-overflow: ellipsis;
      width: 100%;
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .courseCardPrice {
      align-self: flex-end;
      margin: 5px;
      font-size: 1.2em;
    }

    .courseCardAuthor {
      font-size: 14px;
      margin: 5px;
    }

    .courseCardRate {
      margin: 5px;
      font-size: 14px;
    }
  }
}
