@import '../../scss/shared/colors.scss';
@import '../../scss/mixins/input.scss';
@import '../../scss/mixins/button.scss';
@import '../../scss/shared/breakpoints.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bcg-gray-light;
  padding: 20px 0;
  color: $white;
  height: 50px;
  font-size: 14px;
  width: 75%;
  margin: 15px 0;

  @media (max-width: $width-lg) {
    justify-content: space-around;
  }

  @media (max-width: $width-sm) {
    display: block;
    height: auto;
    padding-bottom: 0;
  }

  div {
    @media (max-width: $width-md) {
      padding: 0 15px;
      text-align: center;
      margin: 10px 0;
    }
  }

  .menuIcons {
    cursor: pointer;

    @media (max-width: $width-sm) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;
      right: 50px;
      top: 50px;
    }

    svg {
      font-size: 30px;
      padding: 15px;
    }
  }

  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;

    a {
      display: flex;
      text-decoration: none;
      color: $white;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-size: 22px;
        transform: rotate(-20deg);
        text-decoration: underline;
      }
    }

    @media (max-width: $width-md) {
      justify-content: flex-start;
    }
  }

  .menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: $width-lg) {
      position: fixed;
      top: 110px;
      z-index: 2;
      display: none;
      width: 75%;
      border-radius: 8px;
      background-color: $bcg-gray-light;
      padding: 20px 0;
    }

    @media (max-width: $width-md) {
      flex-direction: column;
    }

    select {
      cursor: pointer;
      width: 100px;
      margin: 0 5px;
      background-color: transparent;
      padding: 10px;
      border: 3px $bcg-gray-dark solid;
      color: $white;

      option {
        background-color: $bcg-gray-light;
      }

      @media (max-width: $width-md) {
        width: 200px;
      }
    }

    .link {
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s;
      text-decoration: none;
      color: $white;
      margin: 0 5px;

      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }

    .button {
      @include primary-button;
      padding: 10px 20px;
      min-width: 100px;
      transition: none;
      margin: 0 20px;
    }
  }

  .authButtonsWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .outSideMenuClick {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.75);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
}
