@import '../../scss/shared/colors.scss';
@import '../../scss/mixins/input.scss';
@import '../../scss/mixins/button.scss';
@import '../../scss/shared/breakpoints.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bcg-gray-light;
  padding: 20px 0;
  color: $white;
  height: 50px;
  font-size: 16px;
  width: 90%;
  margin: 15px 0;
  @media (max-width: $width-lg) {
    justify-content: space-around;
  }

  .menuIcons {
    cursor: pointer;

    svg {
      font-size: 30px;
      padding: 15px;
    }
  }

  .logo {
    flex: 0.3 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $width-md) {
      justify-content: flex-start;
    }

    img {
      cursor: pointer;
      height: 32px;
    }
  }

  .search {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    cursor: pointer;

    input {
      @include primary-input;
      padding: 0;
      width: 100%;

      &::placeholder {
        color: $gray-input;
      }
    }

    .icon {
      position: absolute;
      font-size: 25px;
      right: 0;
      cursor: pointer;
      transition: 0.3s;
    }

    .icon:hover {
      color: $orange;
    }
  }

  .menu {
    flex: 2 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

    .link {
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s;
      text-decoration: none;
      color: $white;
      margin: 0 5px;
    }

    .link:hover {
      color: $orange;
      text-decoration: underline;
    }

    .button {
      @include primary-button;
      padding: 10px 20px;
      transition: none;
    }
  }

  @media (max-width: $width-md) {

    .menu {
      position: absolute;
      display: none;
      width: 90%;
      padding: 10px 5%;
      background-color: #212121;
      top: 110px;
      z-index: 1;
      right: 0;

      div {
        margin: 15px 0;
        text-align: center;
      }

      button {
        width: 100%;
        max-width: 200px;
        margin-top: 5px;
        position: relative;
        left: 50%;
        margin-left: -100px;
        transition: none;
      }
    }
  }
  @media (max-width: $width-sm) {
    display: block;
    height: auto;
    padding-bottom: 0;

    .logo {
      display: block;
      text-align: left;
    }

    div {
      padding: 0 15px;
      text-align: center;
      margin: 10px 0;
    }

    .menu {
      top: 150px;
    }

    .search {
      padding: 0 25px;

      input {
        padding: 8px 0;
      }

      svg {
        right: 25px !important;
      }
    }

    .menuIcons {
      position: absolute;
      z-index: 1;
      right: 20px;
      top: 20px;
    }
  }
  
  @media (min-width: $width-md) {

    .buttonsBlock {
      width: 200px;
      display: flex;
      justify-content: space-evenly;
    }
  }

  @media (min-width: $width-lg) {

    .buttonsBlock {
      width: 300px;
    }
  }
}
